<label>{{localize "earthdawn.c.characteristicBonus"}}</label>
<select class="inherent-width" value="{{characteristic}}">
    {{#select characteristic}}
        <option value="">{{localize "earthdawn.n.none"}}</option>
        <option value="carryingcapacity">{{localize "earthdawn.e.encumbranceCarryingCapacity"}}</option>
        <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
        <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
        <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
        <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
        <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
        <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
        <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
    {{/select}}
</select>
<input type="number" value="{{value}}"/>
