<div class="item-properties wide">
    <ol class="properties-list">

        {{!-- Attack --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.p.playerValues" }}</label>
                <div class="grid grid-4col no-gap">
                    <label class="grid-span-3">{{localize "earthdawn.a.attackStep"}}</label>
                    <input type="number" name="system.attackstep" value="{{item.system.attackstep}}">

                    <label class="grid-span-3">{{localize "earthdawn.d.damageStep"}}</label>
                    <input type="number" name="system.damagestep" value="{{item.system.damagestep}}">

                    <label class="grid-span-3">{{localize "earthdawn.s.strain"}}</label>
                    <input type="number" name="system.strain" value="{{item.system.strain}}">
                </div>

                <div class="grid grid-2col no-gap">
                    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-action.hbs"}}

                    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-power-type.hbs"}}
                </div>
            </div>
        </li>

    </ol>
</div>

