<div class="item-properties wide">
    <ol class="properties-list">

        {{!-- Stats --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.p.playerValues" }}</label>
                <div class="grid grid-4col no-gap">
                    <label class="grid-span-3">{{localize "earthdawn.d.dexterity"}}</label>
                    <input type="number" name="system.attributes.dexterityvalue"
                           value="{{item.system.attributes.dexterityvalue}}">

                    <label class="grid-span-3">{{localize "earthdawn.s.strength"}}</label>
                    <input type="number" name="system.attributes.strengthvalue" value="{{item.system.attributes.strengthvalue}}">

                    <label class="grid-span-3">{{localize "earthdawn.t.toughness"}}</label>
                    <input type="number" name="system.attributes.toughnessvalue"
                           value="{{item.system.attributes.toughnessvalue}}">

                    <label class="grid-span-3">{{localize "earthdawn.p.perception"}}</label>
                    <input type="number" name="system.attributes.perceptionvalue"
                           value="{{item.system.attributes.perceptionvalue}}">

                    <label class="grid-span-3">{{localize "earthdawn.w.willpower"}}</label>
                    <input type="number" name="system.attributes.willpowervalue"
                           value="{{item.system.attributes.willpowervalue}}">

                    <label class="grid-span-3">{{localize "earthdawn.c.charisma"}}</label>
                    <input type="number" name="system.attributes.charismavalue" value="{{item.system.attributes.charismavalue}}">

                    <label class="grid-span-3">{{localize "earthdawn.k.karma"}}</label>
                    <input type="number" name="system.karmamodifier" value="{{item.system.karmamodifier}}">

                    <label class="grid-span-3">{{localize "earthdawn.m.movement"}}</label>
                    <input type="number" name="system.movement" value="{{item.system.movement}}">
                </div>
            </div>
        </li>
    </ol>
</div>

