<div class="item-properties wide-xl">
    <ol class="properties-list">

        {{!-- Spell --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.s.spellValues" }}</label>
                <div class="grid grid-4col no-gap">
                    <label>{{localize "earthdawn.s.spellThreads"}}</label>
                    <input type="number" name="system.threadsrequired" value="{{item.system.threadsrequired}}">

                    <label>{{localize "earthdawn.c.circle"}}</label>
                    <input type="number" name="system.circle" value="{{item.system.circle}}">
                </div>

                <div class="grid grid-2col">
                    <label>{{localize "earthdawn.s.spellRange"}}</label>
                    <input type="text" name="system.range" value="{{item.system.range}}">

                    <label>{{localize "earthdawn.s.spellDuration"}}</label>
                    <input type="text" name="system.duration" value="{{item.system.duration}}">

                    <label>{{localize "earthdawn.d.discipline"}}</label>
                    <select name="system.discipline">
                        {{#select item.system.discipline}}
                            <option value="{{localize 'earthdawn.d.disciplineElementalist'}}">{{localize
                                    'earthdawn.d.disciplineElementalist'}}</option>
                            <option value="{{localize 'earthdawn.d.disciplineIllusionist'}}">{{localize
                                    'earthdawn.d.disciplineIllusionist'}}</option>
                            <option value="{{localize 'earthdawn.d.disciplineNethermancer'}}">{{localize
                                    'earthdawn.d.disciplineNethermancer'}}</option>
                            <option value="{{localize 'earthdawn.d.disciplineShaman'}}">{{localize
                                    'earthdawn.d.disciplineShaman'}}</option>
                            <option value="{{localize 'earthdawn.d.disciplineWizard'}}">{{localize
                                    'earthdawn.d.disciplineWizard'}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
        </li>

        <hr>

        {{!-- Difficulties --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.d.difficulties" }}</label>
                <div class="grid grid-2col">
                    <label>{{localize "earthdawn.w.weavingDifficulty"}}</label>
                    <input type="number" name="system.weavingdifficulty" value="{{item.system.weavingdifficulty}}">

                    <label>{{localize "earthdawn.m.matrixReattuningDifficulty"}}</label>
                    <input type="number" name="system.reattunedifficulty" value="{{item.system.reattunedifficulty}}">

                    <label>{{localize "earthdawn.c.castingDifficulty"}}</label>
                    <input type="text" name="system.castingdifficulty" value="{{item.system.castingdifficulty}}">
                </div>
            </div>
        </li>
    </ol>
</div>

