<div class="item-properties wide-xl">
    <ol class="properties-list">

        {{!-- WEAPON --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.p.playerValues" }}</label>
                <div class="grid grid-4col no-gap">
                    <label class="grid-span-3">{{localize "earthdawn.d.damageStep"}}</label>
                    <input type="number" name="system.damagestep" value="{{item.system.damagestep}}">

                    <label class="grid-span-3">{{localize "earthdawn.s.strengthMinimum"}}</label>
                    <input type="number" name="system.strenghtminimum" value="{{item.system.strenghtminimum}}">

                    <label>{{localize "earthdawn.s.size"}}</label>
                    <input type="number" name="system.size" value="{{item.system.size}}">

                    <label>{{localize "earthdawn.w.weight"}}</label>
                    <input type="number" name="system.weight" value="{{item.system.weight}}">

                    <label class="grid-span-3">{{localize "earthdawn.r.rangeShort"}}</label>
                    <input type="number" name="system.shortrange" value="{{item.system.shortrange}}">

                    <label class="grid-span-3">{{localize "earthdawn.r.rangeLong"}}</label>
                    <input type="number" name="system.longrange" value="{{item.system.longrange}}">

                    <label class="grid-span-3">{{localize "earthdawn.a.ammunition"}}</label>
                    <input type="number" name="system.ammo.value" value="{{item.system.ammo.value}}">

                    <label class="grid-span-3">{{localize "earthdawn.t.timesForged"}}</label>
                    <input type="number" name="system.timesForged" value="{{item.system.timesForged}}">

                    <label class="grid-span-3">{{localize "earthdawn.b.bloodDamage"}}</label>
                    <input type="number" name="system.bloodMagicDamage" value="{{item.system.bloodMagicDamage}}">
                </div>

                <div class="grid grid-2col">
                    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-attribute.hbs"}}

                    <label>{{localize "earthdawn.w.weaponType"}}</label>
                    <select name="system.weapontype">
                        {{#select item.system.weapontype}}
                            <option value="Melee">{{localize 'earthdawn.m.melee'}}</option>
                            <option value="Ranged">{{localize 'earthdawn.r.ranged'}}</option>
                            <option value="Thrown">{{localize 'earthdawn.t.thrown'}}</option>
                            <option value="Unarmed">{{localize "earthdawn.u.unarmed"}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
        </li>

        <hr>

        {{!-- Checkmarks --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.s.status" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="system.worn" {{checked item.system.worn}}/> {{ localize
                        "earthdawn.e.equipped" }}
                </label>
                {{#if (eq isGM true)}}
                    <label class="checkbox">
                        <input type="checkbox" name="system.isthread" {{checked item.system.isthread}}/> {{ localize
                            "earthdawn.t.thread" }}
                    </label>
                {{/if}}
            </div>
        </li>

        <hr>

        {{!-- Leftovers --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.s.shopValues" }}</label>
                <div class="grid grid-2col no-gap">
                    <label>{{localize "earthdawn.c.cost"}}</label>
                    <input type="number" name="system.cost" value="{{item.system.cost}}">

                    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-availability.hbs"}}
                </div>
            </div>
        </li>
    </ol>
</div>

