<form class="taka-theme actor creature flexcol" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header flexrow">
		<img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

		<section class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'earthdawn.n.name' }}"/>
			</h1>

			{{!-- Header Attributes --}}
			{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/header-attributes.hbs'}}
		</section>
	</header>



	{{!-- Character Sheet Navigation --}}
	<nav class="sheet-navigation tabs" data-group="primary">
		<a class="item active" data-tab="actions">{{ localize "earthdawn.a.actions" }}</a>
		<a class="item" data-tab="combat">{{ localize "earthdawn.p.powers" }}</a>
		<a class="item" data-tab="information">{{ localize "earthdawn.i.information" }}</a>
	</nav>

	{{!-- Character Sheet Body --}}
	<section class="sheet-body grid grid-4col">
		{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/creature-property-list.hbs'}}

		{{!-- Actions Tab --}}
		<div class="tab actions flexcol grid-span-3" data-group="primary" data-tab="actions">
			<ol class="items-list">

                <li class="items-header">
                    <div class="item-name flexrow">
                        <h3>{{localize "earthdawn.a.attacks"}}</h3>
                    </div>
                </li>
                <ol class="item-list">
                    {{#each (getAttackType attacks 'Attack') as |attack id|}}
                        {{> "systems/earthdawn4e/templates/taka-theme/actors/partials/cards/attack-card.hbs" attack}}
                    {{/each}}
                </ol>

                <hr>

                <li class="items-header">
                    <div class="item-name flexrow">
                        <h3>{{localize "earthdawn.p.powers"}}</h3>
                    </div>
                </li>
                <ol class="item-list">
                    {{#each (getAttackType attacks 'Power') as |attack id|}}
                        {{> "systems/earthdawn4e/templates/taka-theme/actors/partials/cards/attack-card.hbs" attack}}
                    {{/each}}
                </ol>

                <hr>

                <li class="items-header">
                    <div class="item-name flexrow">
                        <h3>{{localize "earthdawn.m.maneuvers"}}</h3>
                    </div>
                </li>
                <ol class="item-list">
                    {{#each (getAttackType attacks 'Maneuver') as |attack id|}}
                        {{> "systems/earthdawn4e/templates/taka-theme/actors/partials/cards/attack-card.hbs" attack}}
                    {{/each}}
                </ol>
			</ol>
		</div>

		{{!-- Powers Tab --}}
		<div class="tab powers flexcol grid-span-3" data-group="primary" data-tab="combat">
			{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/tabs/creature-combat-tab.hbs'}}
		</div>

		{{!-- Information Tab --}}
		<div class="tab information grid-span-3" data-group="primary" data-tab="information">
			{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/tabs/creature-information-tab.hbs'}}
		</div>
	</section>
</form>
