<select name="data.showLPtracking" value="{{data.showLPtracking}}"
  {{#select data.showLPtracking}}>
    <option value="true">{{localize "earthdawn.y.yes"}}</option>
    <option value="false">{{localize "earthdawn.n.no"}}</option>
  {{/select}}
</select>