<div class="item-name no-flex">
    <h3>{{localize "earthdawn.m.matrixes"}}</h3>
</div>
<table>
    <tr>
        <th class="item-image margin-right-5"></th>
        <th>{{localize "earthdawn.m.matrixes"}}</th>
        <th>{{localize "earthdawn.c.circle"}}</th>
        <th>{{localize "earthdawn.s.spell"}}</th>
        <th>{{localize "earthdawn.t.threadsRequired"}}</th>
        <th>{{localize "earthdawn.a.activeThreads"}}</th>
        <th>{{localize "earthdawn.w.weavingDifficulty"}}</th>
        <th class="centered">
            <a class="item-control item-create" data-type="spellmatrix" title="{{localize 'earthdawn.s.spellCreate'}}">
                <i class="fas fa-plus"></i>
            </a>
        </th>
    </tr>

    {{#each matrixes as |matrix i|}}
        {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/cards/matrix-card.hbs' matrix}}
    {{/each}}
</table>
