<div class="threadItemCharacteristics">
    {{#if (eq isGM false)}}
        {{#if (eq this.hide true)}}
            <div class="threadRankSeparate">
                <div class="threadItemCharacteristicsHeader">
                    <div class="headerLeft">
                        <h3 class="h3-editor">{{@key}}</h3>
                    </div>
                    <div class="headerMiddle">
                        <label class="threadItemActive">
                            {{localize "earthdawn.a.active"}}
                        </label>
                        <span class="threadItemActiveThreads">
                            <input type="checkbox" name="system.threads.{{@key}}.threadactive" {{checked this.threadactive}}  />
                        </span>
                    </div>
                </div>
                <div class="threadItemCharacteristicsKeyKnowledge">
                    <div class="keyKnowledgeLeft">
                        <textarea Placeholder="{{localize "earthdawn.k.keyKnowledge"}}" name="system.threads.{{@key}}.keyknowledge" id="keyknowledge" cols="30" rows="3">{{this.keyknowledge}}</textarea>
                    </div>
                    <div class="keyKnowledgeRight">
                        <textarea Placeholder="{{localize "earthdawn.k.keyKnowledgeTest"}}" name="system.threads.{{@key}}.testknowledge" id="testknowledge" cols="30" rows="3">{{this.testknowledge}}</textarea>
                    </div>
                </div>
                <div class="threadItemCharacteristicsDeed">
                    <textarea Placeholder="{{localize "earthdawn.d.deed"}}" name="system.threads.{{@key}}.deed" id="deed" cols="30" rows="3">{{this.deed}}</textarea>
                </div>
                <div class="threadItemCharacteristicsEffect">
                    <textarea Placeholder="{{localize "earthdawn.e.effect"}}" name="system.threads.{{@key}}.effect" id="effect" cols="30" rows="3">{{this.effect}}</textarea>
                </div>
                <div class="threadItemCharacteristicsCharacteristics">
                    <div class="characteristicsCharacteristicsLeft">
                        <select class="CharacteristicsLeft" name="system.threads.{{@key}}.characteristic" value="{{this.characteristic}}" >
                            {{#select this.characteristic}}
                                {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="characteristicsCharacteristicsRight">
                        <select class="CharacteristicsRight" name="system.threads.{{@key}}.value" value="{{this.value}}" >
                            {{#select this.value}}
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div>
        {{/if}}
    {{else}}
        <div class="threadRankSeparate">
            <div class="threadItemCharacteristicsHeader">
                <div class="headerLeft">
                    <h3 class="h3-editor">{{@key}}</h3>
                </div>
                <div class="headerMiddle">
                    <label class="threadItemActive">
                        {{localize "earthdawn.a.active"}}
                    </label>
                    <span class="threadItemActiveThreads">
                        <input type="checkbox" name="system.threads.{{@key}}.threadactive" {{checked this.threadactive}}  />
                    </span>
                </div>
                
                <div class="headerRight">
                    <span class="threadItemReveal">
                        {{localize "earthdawn.r.reveal"}}
                    </span>
                    <span class="threadItemRevealShow">
                        <input type="checkbox" name="system.threads.{{@key}}.hide" {{checked this.hide}}  />
                    </span>
                </div>
            </div>
            <div class="threadItemCharacteristicsKeyKnowledge">
                <div class="keyKnowledgeLeft">
                    <textarea Placeholder="{{localize "earthdawn.k.keyKnowledge"}}" name="system.threads.{{@key}}.keyknowledge" id="keyknowledge" cols="30" rows="3">{{this.keyknowledge}}</textarea>
                </div>
                <div class="keyKnowledgeRight">
                    <textarea Placeholder="{{localize "earthdawn.k.keyKnowledgeTest"}}" name="system.threads.{{@key}}.testknowledge" id="testknowledge" cols="30" rows="3">{{this.testknowledge}}</textarea>
                </div>
            </div>
            <div class="threadItemCharacteristicsDeed">
                <textarea Placeholder="{{localize "earthdawn.d.deed"}}" name="system.threads.{{@key}}.deed" id="deed" cols="30" rows="3">{{this.deed}}</textarea>
            </div>
            <div class="threadItemCharacteristicsEffect">
                <textarea Placeholder="{{localize "earthdawn.e.effect"}}" name="system.threads.{{@key}}.effect" id="effect" cols="30" rows="3">{{this.effect}}</textarea>
            </div>
            <div class="threadItemCharacteristicsCharacteristics">
                <div class="characteristicsCharacteristicsLeft">
                    <select class="CharacteristicsLeft" name="system.threads.{{@key}}.characteristic" value="{{this.characteristic}}" >
                        {{#select this.characteristic}}
                            {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                        {{/select}}
                    </select>
                </div>
                <div class="characteristicsCharacteristicsRight">
                    <select class="CharacteristicsRight" name="system.threads.{{@key}}.value" value="{{this.value}}" >
                        {{#select this.value}}
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
    {{/if}}
</div>
