<div class="creatureCombatTab">
    <!-- initiative -->
    <div class="creatureInitiative centered">
        <div>
            <div class="circleLeft">
                <label>{{localize "earthdawn.i.initiative"}} </label>
                <input class="step-display" name="system.initiativeStep" type="text" value="{{actor.system.initiativeStep}}" />
            </div>
            <div class="circleMiddle">
                <label>{{localize "earthdawn.i.initiativeDice"}} </label>
                <input class="step-display" name="system.initiativeDice" type="text" value="{{actor.system.initiativeDice}}"/>
            </div> 
            <div class="circleRight">
                <label>{{localize "earthdawn.a.attacks"}} </label>
                <input class="step-display" name="system.attacks" type="text" value="{{actor.system.attacks}}"/>
            </div>                 
        </div>
        <div>
            <div class="circleLeft">
                <label>{{localize "earthdawn.k.knockdownStep"}} </label>
                <input class="step-display" name="system.knockdown" type="text" value="{{actor.system.knockdown}}" />
            </div>
            <div class="circleMiddle">
                <label>{{localize "earthdawn.r.recovery"}} </label>
                <input class="step-display" name="system.recoverytests" type="text" value="{{actor.system.recoverytests}}" />
            </div>
            <div class="circleRight space-smaller">
                
                    <button class="buttonAction take-damage">{{localize "earthdawn.t.takeDamage"}}</button>
                
            </div>  
        </div>
    </div>
    <div class="creatureActions">
        <div class="creatureLeftBar">
            <h3 class="centered">{{localize "earthdawn.c.combatModifier"}}</h3>
            <!-- combat modifier -->
            <div class="combatOptions">
                <h4>{{localize "earthdawn.c.combatOptions"}}</h4>
            </div>  
            <div  class="text-align-middle">
                <input class="actionOption tactics-aggressive" id="tactics-aggressive" type="checkbox" name="system.tactics.aggressive" {{checked actor.system.tactics.aggressive}}>
                <label class="vertialAlignMiddle" title="{{localize 'earthdawn.c.combatModAggressive'}}" >{{localize "earthdawn.c.combatOptionsAggressive"}}</label>
            </div>
            <div  class="text-align-middle">
                <input class="actionOption tactics-defensive" id="tactics-defensive" type="checkbox" name="system.tactics.defensive" {{checked actor.system.tactics.defensive}}>
                <label class="vertialAlignMiddle" title="{{localize 'earthdawn.c.combatModDefensive'}}" >{{localize "earthdawn.c.combatOptionsDefensive"}}</label>
            </div>
            &nbsp;
            <!-- Situation modifier -->
            <h4>{{localize "earthdawn.c.combatSituationModifier"}}</h4>
            <div  class="text-align-middle">
                <input class="actionOption tactics-knockeddown" id="tactics-knockeddown" type="checkbox" title="{{localize 'earthdawn.c.combatModifierKnockedDown'}}" {{checked actor.system.tactics.knockeddown}} name="system.tactics.knockeddown" title="{{localize 'earthdawn.a.combatModifierKnockedDown'}}">
                <label class="vertialAlignMiddle" title="{{localize 'earthdawn.c.combatModKnockedDown'}}">{{localize "earthdawn.c.combatModifierKnockedDown"}}</label>
            </div>
            <div  class="text-align-middle">
                <input class="actionOption tactics-harried" id="tactics-harried" type="checkbox" title="{{localize 'earthdawn.c.combatModifierHarried'}}" {{checked actor.system.tactics.harried}} name="system.tactics.harried" title="{{localize 'earthdawn.a.combatModifierHarried'}}">
                <label class="vertialAlignMiddle" title="{{localize 'earthdawn.c.combatModHarried'}}">{{localize "earthdawn.c.combatModifierHarried"}}</label>
            </div>
            
        </div>
        <div class="creatureRightBar centered creatureButtons">
            <h3>{{localize "earthdawn.a.action"}}</h3>
            <div class="padding-left-8 ">
                <button class="buttonAction knockdown-test">{{localize "earthdawn.c.combatOptionsKnockdownTest"}}</button>
            </div>
            <div class="padding-left-8">
                <button class="buttonAction jump-up">{{localize "earthdawn.c.combatOptionsJumpUp"}}</button>
            </div>
        </div>
    </div>
    <div class="effects ">  
        <table>
        <h3 class="headerLine">
            <div>
                {{localize "earthdawn.e.effects"}}
            </div>
            <a class="effect-add" data-type="effect" title="{{localize "earthdawn.n.newItem" }}">
                <I class="fas fa-plus"></I>
            </a>
        </h3>
            <tr>
                <div class="item-list effects-list">
                    {{#each effects as |effects id|}}
                    {{> "systems/earthdawn4e/templates/actors/partials/effects-card.hbs" effects}}
                    {{/each}}
                </div>
            </tr>
        </table> 
    </div>
    <div class="creatureInformation">
        <h3 class="centered">{{localize "earthdawn.i.information"}}</h3>
        <div class="flexDescription">
            {{editor enrichment.system.descriptionGameInfo target="system.descriptionGameInfo" button=true owner=owner editable=editable engine="prosemirror"}}
        </div>
    </div>
</div>
